# Razorpay Credentials
# Obtain these from https://dashboard.razorpay.com/app/dashboard
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
VITE_RAZORPAY_KEY_ID=
# Obtain these from https://developer.paypal.com/dashboard/applications/sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox
VITE_PAYPAL_CLIENT_ID=

# Stripe Credentials (Optional)
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID_MONTHLY=
